@font-face {
  font-family: "Roboto";
  src:
    url("fonts/Roboto-Bold.woff2") format("woff2"),
    url("fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Lt";
  src:
    url("fonts/Roboto-Light.woff2") format("woff2"),
    url("fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  --white: #FFFFFF;
  --black: #222222;
  --orange: #e95d2a;
  --grey: #f4f4f6;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100vh;
}

.template-root {
  background-color: var(--grey);

  position: relative;

  min-height: 100vh;
}

.header {
  background-color: var(--black);
  height: 80px;
}

.header-outer {
  height: 100%;
}

.header-inner {
  background-color: var(--black);

  display: flex;
  align-items: center;

  height: 100%;
  max-width: 890px;
  margin: 0 auto;
}

.header-logo {
  font-size: 2rem;
  color: var(--orange);

  width: fit-content;
}
.header-location-div {
  display: flex;
}

.header-location {
  font-size: 1.1rem;
  color: white;
  margin-left: 10px;
}

.header-location-temp {
  font-size: 1.1rem;
  color: white;
  margin-left: 10px;
}


.header-search-bar {
  max-width: 300px;

  border-radius: 6px;

  background-color: var(--white);

  padding: 8px 12px;
  margin-left: auto;

  display: flex;
}

.search-icon {
  margin-right: 12px;

  display: flex;
  align-items: center;
}

.search-form {
  align-self: center;

  width: fit-content;
  height: 100%;

  border-radius: 6px;
}

.search-form input {
  background-color: none;
  outline: none;
  border: none;

  border-radius: 6px;
}

.search-form input:focus {
  outline: none;
}

.content {
  display: grid;

  grid-template-columns: 1fr 1fr;

  padding: 60px;
  margin: 0 auto;

  min-height: 100%;
  width: 890px;
}

.days {
  margin: 0 auto;

  width: 620px;
  height: fit-content;

  background-color: rgb(240, 243, 245);

  border-radius: 10px;

  list-style-type: none;
}

.days > * {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 18px;
}

.days li {
  display: flex;
  gap: 20px;
  text-align: center;

  padding: 18px;
}

.days li .datetime {
  width: 82px;
}

.days li .temp-max {
  width: 45px;
}

.days li .temp-min {
  width: 45px;
}

.days li .temp-feels {
  width: 65px;
}

.days li .conditions {
  width: 125px;
  text-align: left;
}

.days li .precip {
  width: 50px;
}

.days li .precip-prob {
  width: 50px;
}

.hours {
  margin: 0 auto;

  width: 405px;
  height: fit-content;

  background-color: rgb(240, 243, 245);

  border-radius: 10px;

  list-style-type: none;
}

.hours > * {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 18px;
}

.hours li {
  display: flex;
  gap: 20px;
  text-align: center;

  padding: 18px;
}

.hours li {
  display: flex;
  gap: 20px;
  text-align: center;

  padding: 18px;
}

.hours li .time {
  width: 100px;
}

.hours li .temp {
  width: 40px;
}

.hours li .humidity {
  width: 70px;
}

.hours li .precip {
  width: 45px;
}

.hours li .precip-prob {
  width: 30px;
}